<a href="https://colab.research.google.com/github/exproot/python/blob/main/ertanyagmur_lab_odev1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

numpy ve pandas kütüphanelerini çağırdım.

In [ ]:
import numpy as np
import pandas as pd

Google Drive bağlantısı.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

En az 3 eleman içeren iki tane farklı sözlük oluşturalım.
Bu sözlükler 'Öğrenci No, İsim, Soyisim, Sinav1, Sinav2' özelliklerini içersin.

In [ ]:
dict1 = np.array([["10001", "Ertan", "Yağmur", 80,40], ["10003", "Azra", "Ateş",90,70], ["10002","Doğa", "Su",35,70]])
dict2 = np.array([["10005", "Berke", "Bora", 20,85], ["10006", "Alev", "Aydın",95,74], ["10004","Kai", "Havertz",29,14]])
print(dict1)
print("\n")
print(dict2)

[['10001' 'Ertan' 'Yağmur' '80' '40']
 ['10003' 'Azra' 'Ateş' '90' '70']
 ['10002' 'Doğa' 'Su' '35' '70']]


[['10005' 'Berke' 'Bora' '20' '85']
 ['10006' 'Alev' 'Aydın' '95' '74']
 ['10004' 'Kai' 'Havertz' '29' '14']]

In [ ]:
index = [0,1,2]
column = ['Öğr. No', 'İsim', 'Soyisim', 'Sınav1', 'Sınav2']

Bu iki sözlükten iki tane farklı dataframe oluşturalım.
2 dataframe'in de indexlerini Öğr. No ile değiştirelim.

In [ ]:
dataframe1 = pd.DataFrame(data = dict1, index = index, columns = column)
dataframe2 = pd.DataFrame(data = dict2, index = index, columns = column)

dataframe1.set_index('Öğr. No', inplace = True)
dataframe2.set_index('Öğr. No', inplace = True)

dataframe1

          İsim Soyisim Sınav1 Sınav2
Öğr. No
10001    Ertan  Yağmur     80     40
10003     Azra    Ateş     90     70
10002     Doğa      Su     35     70

Bu iki dataframe'i tek bir dataframe olarak birleştirelim.

In [ ]:
dataframe3 = pd.concat([dataframe1, dataframe2], axis = 0)
dataframe3

          İsim  Soyisim Sınav1 Sınav2
Öğr. No
10001    Ertan   Yağmur     80     40
10003     Azra     Ateş     90     70
10002     Doğa       Su     35     70
10005    Berke     Bora     20     85
10006     Alev    Aydın     95     74
10004      Kai  Havertz     29     14

'Ortalama' dizisini oluşturup değerlerini hesaplarken aşağıdaki formülü kullanalım.
(Sinav1* 40 / 100) + (Sinav2* 60 / 100)

ve ortalamaları dizimize kaydedelim.

In [ ]:
ortalamalar = np.zeros(6) # ortalama dizisini oluşturdum.

# ortalamayı bulacak fonksiyonu hazırladım.
def hesapla(x,y):                 
  formul = (x * 40 + y * 60)/100
  return formul


#dataframelerden sınav1 ve sınav2 yi getirip fonksiyonda kullandım ve ortalamarı dizimize kaydettim.
for i in range(0,3):
  ortalamalar[i] = hesapla(int(dataframe1['Sınav1'][i]), int(dataframe1['Sınav2'][i]))


for i in range(3,6):
  ortalamalar[i] = hesapla(int(dataframe2['Sınav1'][i-3]), int(dataframe2['Sınav2'][i-3]))

'Ortalama' Sütununu dataframe'e ekleyelim.

In [ ]:
dataframe3['Ortalama'] = pd.Series(data = ortalamalar, index = ['10001','10003','10002','10005','10006','10004'])
dataframe3

          İsim  Soyisim Sınav1 Sınav2  Ortalama
Öğr. No
10001    Ertan   Yağmur     80     40      56.0
10003     Azra     Ateş     90     70      78.0
10002     Doğa       Su     35     70      56.0
10005    Berke     Bora     20     85      59.0
10006     Alev    Aydın     95     74      82.4
10004      Kai  Havertz     29     14      20.0

Harfler dizisini oluşturup öğrencilerin ortalamasına göre harf notunu belirleyip diziye kaydedelim.

In [ ]:
harfler = np.array(['aa', 'bb', 'cc', 'dd', 'ee', 'gg']) # harfler dizisini oluşturdum, default olarak 6 tane 2 karakterlik string atadım.

# harf notunu belirlemek için fonksiyon hazırladım.
def sonuc(x):
  if 90<x<100:
    return 'AA'
  elif 85<x<90:
    return 'BA'
  elif 80<x<85:
    return 'BB'
  elif 75<x<80:
    return 'CB'
  elif 70<x<75:
    return 'CC'
  elif 60<x<70:
    return 'DC'
  elif 50<x<60:
    return 'DD'
  elif x<50:
    return 'FF'

# Ortalamalar dizisinden ortalamaları çekip fonksiyonda kullanarak harf notlarını belirleyip diziye kaydettim.
for i in range(0,6):
  harfler[i] = sonuc(ortalamalar[i])

harfler

array(['DD', 'CB', 'DD', 'DD', 'BB', 'FF'], dtype='<U2')

Harf Notu Sütununu dataframe'e ekleyelim.

In [ ]:
dataframe3['Harf Notu'] = pd.Series(data = harfler, index = ['10001','10003','10002','10005','10006','10004'])
dataframe3

          İsim  Soyisim Sınav1 Sınav2  Ortalama Harf Notu
Öğr. No
10001    Ertan   Yağmur     80     40      56.0        DD
10003     Azra     Ateş     90     70      78.0        CB
10002     Doğa       Su     35     70      56.0        DD
10005    Berke     Bora     20     85      59.0        DD
10006     Alev    Aydın     95     74      82.4        BB
10004      Kai  Havertz     29     14      20.0        FF

Son oluşan dataframe'i bir ".csv" uzantılı dosya olarak Google Drive'a kaydedelim.

In [ ]:
dataframe3.to_csv('/content/drive/MyDrive/Colab Notebooks/labodev1.csv', index=True)